<a href="https://colab.research.google.com/github/saadmarwan16/linear_regression_exercises/blob/main/crime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# files.upload()

In [2]:
import numpy as np
from pandas import read_excel
import matplotlib.pyplot as plt

In [3]:
df = read_excel('mlr06.xls')
df.info()

*** No CODEPAGE record, no encoding_override: will use 'ascii'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      50 non-null     int64
 1   X2      50 non-null     int64
 2   X3      50 non-null     int64
 3   X4      50 non-null     int64
 4   X5      50 non-null     int64
 5   X6      50 non-null     int64
 6   X7      50 non-null     int64
dtypes: int64(7)
memory usage: 2.9 KB

In [4]:
df.head()

    X1   X2  X3  X4  X5  X6  X7
0  478  184  40  74  11  31  20
1  494  213  32  72  11  43  18
2  643  347  57  70  18  16  16
3  341  565  31  71  11  25  19
4  773  327  67  72   9  29  24

In [5]:
df.corr()

          X1        X2        X3        X4        X5        X6        X7
X1  1.000000  0.756505  0.533198 -0.135459  0.322519 -0.175224 -0.026283
X2  0.756505  1.000000  0.509339 -0.184445  0.291031 -0.199070 -0.045570
X3  0.533198  0.509339  1.000000  0.120265  0.311526 -0.277475  0.124502
X4 -0.135459 -0.184445  0.120265  1.000000 -0.537162  0.182364  0.681072
X5  0.322519  0.291031  0.311526 -0.537162  1.000000 -0.626953 -0.513958
X6 -0.175224 -0.199070 -0.277475  0.182364 -0.626953  1.000000  0.591663
X7 -0.026283 -0.045570  0.124502  0.681072 -0.513958  0.591663  1.000000

In [6]:
def fit(X, Y):
    return np.linalg.solve(X.T.dot(X), X.T.dot(Y))

In [7]:
def get_r2(Y, Yhat):
    d1 = Y - Yhat
    d2 = Y - Y.mean()

    return 1 - d1.dot(d1) / d2.dot(d2)

In [8]:
X = df[['X2', 'X3', 'X4', 'X5', 'X6', 'X7']]
Y = df['X1']
N = df.shape[0]
ones = np.array([np.ones(N)])
Xb = np.concatenate((ones.T, X), axis=1)

In [9]:
w = fit(Xb, Y)
Yhat = Xb.dot(w)

In [10]:
print(f"The r_squared value is: {get_r2(Y, Yhat)}")

The r_squared value is: 0.6131606872679716