<a href="https://colab.research.google.com/github/saadmarwan16/linear_regression_exercises/blob/main/hollywood_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# from google.colab import files
# files.upload()

In [2]:
import numpy as np
from pandas import read_excel
import matplotlib.pyplot as plt

In [3]:
df = read_excel('mlr04.xls')
df.info()

*** No CODEPAGE record, no encoding_override: will use 'ascii'
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      10 non-null     float64
 1   X2      10 non-null     float64
 2   X3      10 non-null     float64
 3   X4      10 non-null     float64
dtypes: float64(4)
memory usage: 448.0 bytes

In [4]:
df.head(10)

           X1    X2        X3         X4
0   85.099998   8.5  5.100000   4.700000
1  106.300003  12.9  5.800000   8.800000
2   50.200001   5.2  2.100000  15.100000
3  130.600006  10.7  8.399999  12.200000
4   54.799999   3.1  2.900000  10.600000
5   30.299999   3.5  1.200000   3.500000
6   79.400002   9.2  3.700000   9.700000
7   91.000000   9.0  7.600000   5.900000
8  135.399994  15.1  7.700000  20.799999
9   89.300003  10.2  4.500000   7.900000

In [5]:
df.corr()

          X1        X2        X3        X4
X1  1.000000  0.917445  0.929968  0.474691
X2  0.917445  1.000000  0.789958  0.429133
X3  0.929968  0.789958  1.000000  0.298761
X4  0.474691  0.429133  0.298761  1.000000

In [6]:
X = df[['X1', 'X2', 'X3']].values
Y = df['X4'].values

In [7]:
N = X.shape[0]
ones = np.array([np.ones(N)])

In [8]:
Xb = np.concatenate((ones.T, X), axis=1)

In [9]:
def fit(Xb, Y):
    return np.linalg.solve(Xb.T.dot(Xb), Xb.T.dot(Y))

In [10]:
w = fit(Xb, Y)

In [11]:
def get_r2(w, Xb, Y):
    Y_hat = Xb.dot(w)

    d1 = Y - Y_hat
    d2 = Y - Y.mean()

    return 1 - d1.dot(d1) / d2.dot(d2)

In [12]:
print(f"The r_squared of values of the model is: {get_r2(w, Xb, Y)}")

The r_squared of values of the model is: 0.4175116634202882